.offerCategories{
    width: 100%;
    min-height: 100vh;
    display: flex;
    padding-top: 100px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.itemList{
    width: 70vw;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    place-items: center;
    justify-content: center;
}

.product{
    border-radius: 15px;
    width: 300px;
    height: 350px;
    margin: 20px;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
}
.product:hover{
    box-shadow: 0px 3px 15px rgba(0,0,0,0.5);
    transform: scale(1.03);
}

.product div{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 100%;
    height: 250px;
}

.product .imgDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.product .imgDiv img{
    height: 100%;
    width: 100%;
}

.product .price{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    margin: 0;
    justify-content: space-between;
}


button{
    margin-right: 20px;
    margin-top: 5px;
    background-color: inherit;
    border: none;
}

.itemList .add:hover{
    color: green;
    cursor: pointer;
}

.delate:hover{
    color: red;
    cursor: pointer;
}

.product h3,
.product p{
    margin-top: 5px;
    margin-left: 20px;
    width: auto;
}

@media screen and (max-width: 1300px){
    .itemList{
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 800px){
    .itemList{
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 340px){
    .product{
        border-radius: 15px;
        width: 220px;
        height: 300px;
    }
    
    .product div{
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        width: 100%;
        height: 190px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    
    .product h3,
    .product p{
        margin-top: 0;
        margin-left: 20px;
    }
}